<!DOCTYPE html>

<html lang="en">

<head>
    <title>Discord Oauth2</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div>Discord Oauth2</div>
    <% if(login) { %>
        <div><a href="/dashboard">Goto Dashboard</a></div>
    <% } else { %>
        <div><a href="/auth/redirect">Login</a></div>
    <% } %>
</body>

</html>